@model OgrenciKayitFormu.Models.Ogrenci

@{
    ViewData["Title"] = "Öğrenci Kayıt Formu";
}

<h1>Öğrenci Kayıt Formu</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        <form asp-action="Kayit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyad" class="control-label"></label>
                <input asp-for="Soyad" class="form-control" />
                <span asp-validation-for="Soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OgrenciNumarasi" class="control-label"></label>
                <input asp-for="OgrenciNumarasi" class="form-control" />
                <span asp-validation-for="OgrenciNumarasi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DogumTarihi" class="control-label"></label>
                <input asp-for="DogumTarihi" class="form-control" type="date" />
                <span asp-validation-for="DogumTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}